bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
DoujinView/gdata.json
/.idea
DoujinView/Output/InstallerSetup.ifp
/DoujinView/Output
DoujinView/Assets/logo.clip
DoujinView/.editorconfig
.editorconfig
