<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings>
        <add key="LastOpenedFilePath" value="" />
        <add key="LastOpenedPageIndex" value="0" />
        <add key="JapaneseMode" value="true" />
        <add key="LoadNextArchive" value="true" />
        <add key="WindowState" value="0" />
        <add key="WindowPosX" value="0" />
        <add key="WindowPosY" value="0" />
        <add key="ResumeLastArchive" value="true" />
        <add key="ResumeLastPage" value="false" />
    </appSettings>
</configuration>